.toolbtn {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 5px;
}

.toolbtn:hover{
  cursor: pointer;
}

.toolbtn.pen {
  background-image: url("./icons/light/ico_draw.svg");
  background-color: #9000;
}

.toolbtn.pen.active {
  background-image: url("./icons/dark/ico_draw.svg");
  background-color: yellow;
}

.toolbtn.rect {
  background-image: url("./icons/light/ico_rectangle.svg");
  background-color: #9000;
}

.toolbtn.rect.active {
  background-image: url("./icons/dark/ico_rectangle.svg");
  background-color: yellow;
}

.toolbtn.circle {
  background-image: url("./icons/light/ico_ellipse.svg");
  background-color: #9000;
}

.toolbtn.circle.active {
  background-image: url("./icons/dark/ico_ellipse.svg");
  background-color: yellow;
}

.toolbtn.text {
  background-image: url("./icons/light/ico_text.svg");
  background-color: #9000;
}

.toolbtn.text.active {
  background-image: url("./icons/dark/ico_text.svg");
  background-color: yellow;
}


.toolbtn.erase {
  background-image: url("./icons/light/ico_trash.svg");
  background-color: #9000;
}

.toolbtn.erase.active {
  background-image: url("./icons/dark/ico_trash.svg");
  background-color: yellow;
}

/*********************************************************************/

.strokebtn {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
}

.strokebtn {
  background-color: transparent;
}

.strokebtn.active {
  background-color: yellow;
}


/*********************************************************************/

.colorbtn {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.colorbtn {
  background-color: transparent;
}

.colorbtn.active {
  background-color: yellow;
}

/*********************************************************************/


.collapse{
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
}

.collapse.up{
  background-image: url("./icons/light/ico_caret_up.svg");
}

.collapse.down{
  background-image: url("./icons/light/ico_caret_down.svg");
}

.collapse.left{
  background-image: url("./icons/light/ico_caret_left.svg");
}

.collapse.right{
  background-image: url("./icons/light/ico_caret_right.svg");
}

